# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
certs/server/server.key


# IDE/OS
.vscode/
.DS_Store

# Proyecto
.env
logs/
logs/*.log
*.sqlite3
informe/*.pdf
*.pcap
dist/
build/
pai2.db
data/*.db

# --- Añadido: PAI-2 / TLS (no commitear secretos de certs) ---
certs/**/*.key
certs/**/*.srl
certs/**/*.csr
certs/**/*.p12
certs/**/*.pfx

# (Opcional) capturas si decides guardarlas en carpeta dedicada
captures/
